.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}